@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Syncopate&display=swap');
:root{
  --primary:'Syncopate';
  --secondary:'Cormorant';
}



/* .homePage{grid-area: part1;}
.reusmePage{grid-area: part2;}
.footerPage{grid-area: part3;}
.App{
  grid-template-rows: repeat(3, fit-content);
  grid-template-areas:"part1" "part2" "part3" ;
} */