@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Syncopate:wght@400;700&display=swap');
:root{
  --primary:'Syncopate';
  --secondary:'Cormorant';
}
.mobile{
  display: none;
}

 @media screen and (max-width:1275px){
  .mobile{
    display: block;
    font-size: 56px;
    font-family: var(--primary);
    margin-top: 55%;
  }
  .home{display:none}
  .resume{display:none}
  .footer{display:none}
}